/*-------------------------
	General Styles
--------------------------*/
html, body{height:100%; margin:0;padding:0}
body{
	background:url('../img/bg.jpg') no-repeat center center fixed;
	min-height:100%;
	background-size:cover;
} 
p{
	color:#999;
}
.container-fluid{
	height:100%;
	display:table;
	width: 100%;
	padding: 0;
}

.row-fluid {
	height: 100%; 
	display:table-cell; 
	vertical-align: middle;
}

.centering {
	float:none;
	margin:0 auto;
}
.error { 
	color: #f00;
	height: auto;
	font-size: 80%;
	min-height: 16px;
	padding-left: 15px;
}
.colorgraph {
	height:2px;
	border-top: 0;
	background: #c4e17f;
	border-radius:2px;
	background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
#protected-page{
	width:980px;
	margin:100px auto 50px;
	text-align:center;
	background-color:#fff;
	border-radius:3px;
	box-shadow:0 2px 5px rgba(0,0,0,0.2);
	padding:85px 0;
	color:#727272;
	font-size:20px;
}

#protected-page h1{
	font-size:40px;
	margin:20px 0 50px;
}

#protected-page p{
	line-height: 1.5;
}

#protected-page a{
	
	/* The logout button */

	display:inline-block;
	padding:10px 30px;
	margin-top:50px;
	text-decoration: none !important;
	color:#fff !important;
	background-color:#b9b9e2;
	
	font-weight:bold;
	font-size:16px;

	border-radius:3px;
	border-bottom:3px solid #9f9fc2;
}

#protected-page a:hover{
	background-color:#c3c3ea;
}
