div
    h2 Welcome to DreamFace Studio
    p The DreamFace Studio provides an environment to create Cloud-based applications targeted for multiple devices (Mobile, Tablet, Web).&nbsp;&nbsp;If you don't know where to start, please use the contextual assistant:
    p.dfx_content_normal
    p
        a.btn.btn-primary(href="javascript:DfxStudio.showHelpContext();") Show Assistant
    p
        small Copyright (c) DreamFace Interactive, all rights reserved.