div.dfx_dbs_content
    div#dbs_databases.col-lg-3.well.dfx_dbs_full-height.dfx_dbs_scrollable
        h4 Databases:
        ul.nav
            li
                div.dbx_dbs_divider
                form.dbx_dbs_item_creating_form(onsubmit="DfxStudio.databases.createDatabase(this); return false;")
                    input.form-control(name="createNewDatabase", type="text", placeholder="create new database")
    div#dbs_documents.col-lg-9.dfx_dbs_full-height(style="padding: 1em 1em; display: none;")
        div#dbs_documents_table(style="position: relative; height: 44%; margin-bottom: 1%; overflow: hidden;", onselectstart="return false", onmousedown="return false")
        div(style="position: relative; height:55%;")
            div#dbs_documents_controls.btn-toolbar.well(style="position: relative; width:100%; padding:0.3em;")
                div.btn-toolbar.pull-right
                    button#dbs_documents_controls_save.btn.btn-small.btn-primary(onclick="DfxStudio.databases.insertDocument()", style="display: none;")
                        span.icon-ok
                        span(style="padding-left:5px") Save
                    button#dbs_documents_controls_create.btn.btn-small.btn-primary(onclick="DfxStudio.databases.createDocument()", style="display: none;")
                        span.icon-plus
                        span(style="padding-left:5px") Create
                    button#dbs_documents_controls_delete.btn.btn-small.btn-danger(onclick="DfxStudio.databases.removeDocument()", style="display: none;")
                        span.icon-trash
                        span(style="padding-left:5px") Delete
                    
                div#dbs_documents_path
                    span
                        strong path: 
                    span.dfx_dbs_path_slash /
                    span#dbs_documents_path_databse
                    span.dfx_dbs_path_slash /
                    span#dbs_documents_path_collection
                    span.dfx_dbs_path_slash /
                    span#dbs_documents_path_document
            div#dbs_documents_textarea(style="position: absolute; top: 3.5em; bottom: 0; width: 100%;")
                textarea.form-control(style="height:100%; width:100%;")
